<!-- 
        File name: footer.ejs
         Student Name: Disha Patel
        StudentID: 301149367
-->

<footer class="footer">
    <!-- Copyright -->
    <div class="text-center py-3">Disha Patel
    </div>
    <!-- Copyright -->
</footer>

<!-- Javascript section -->
<!-- Jquery, mansonry and imageloaded -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<!-- Fontawesome JS, Popper.js, and jQuery -->
<script src="/fontawesome-free/js/all.min.js"></script>
<!-- JavaScript Bundle with Popper.js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
    integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
    crossorigin="anonymous"></script>
<!-- it will check for the whcih page we are in currently -->
<% if (title=='Contact US') { %>
<!-- google map javascript api key set -->

<% } %>
<script src="/javascripts/client.js"></script>

</body>

</html>
