<!-- 
        File name: index.ejs (it containt page code)
         Student Name: Disha Patel
        StudentID: 301149367
-->
<!-- including heaeders and footers ejs file -->
<%- include("partials/header"); -%>
  <div class="content">
    <div class="h-100 d-flex text-center align-items-center justify-content-center">
      <div>
        <h3 style="color: #545149;">
        Hello, I'm <span style="color: #4056A1;">Disha Patel.</span>
        <br />I'm a Software developer.
        </h3>
        <!-- this button will redirect user to about me page. -->
         </div>
    </div>
  </div>
<%- include("partials/footer"); -%>

