<!-- 
        File name: projects.ejs (it containt page code)
         Student Name: Disha Patel
        StudentID: 301149367
-->

<div class="content">
    <h1 class="my-2 text-center my-2">
        Projects
    </h1>
    <div class="container">
        <!-- This div set services i provide. It hase image and few details about services -->
        <div class="row row-cols-1 row-cols-md-2 g-4 mx-2 mb-3">
            <div class="col">
                <div class="card border-dark border-1 rounded-0">
                    <%- include("partials/svgs/responsive") %> 
                    <div class="card-body">
                        <h5 class="card-title">BORDER CROSSING MANAGEMENT SYSTEM</h5>
                        <p class="card-text">This framework enables the fringe to control officials as the individuals who are experiencing the outskirt to another nation, may have some gear and that baggage likewise should be checked and the visa of the client additionally should be confirmed.   </p>
                        <div class="col-sm-4"><img src="img/bordersecurity.jpeg" class="img-responsive" alt="Cinque Terre" width="900" height="900">  </div>
                    </div>
                    <br>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-dark border-1 rounded-0">
                    <%- include("partials/svgs/web_design") %> 
                    <div class="card-body">
                        <h5 class="card-title">LEAVE MANAGEMENT SYSTEM</h5>
                        <p class="card-text">The client can apply for leave in a pretty interface and afterward give the explanation behind the leave which it could be them accessible for endorsement for it by the administrator of the framework. </p>
                        <div class="col-sm-4"><img src="img/leave.png" class="img-responsive" alt="Cinque Terre" width="900" height="900">  </div> 
                    </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-dark border-1 rounded-0">
                    <%- include("partials/svgs/web_coding") %> 
                    <div class="card-body">
                        <h5 class="card-title">GARBAGE MANAGEMENT SYSTEM</h5>
                        <p class="card-text">For this one client will demand to pick the trash from home at a specific time and afterward framework staff will come to them with their vehicles and burden the trash into it and take some expense and knock it to the unloading territory.</div> </p> 

                        <div class="col-sm-4"><img src="img/garbage.jpg" class="img-responsive" alt="Cinque Terre" width="900" height="900">  </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>








<%- include("partials/footer"); -%>